/* -------  General Styles ------- */
/** Styles for Mobile first*/
body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  text-align:justify;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  padding-bottom: 20px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

.row-group{
  display: flex;
  justify-content: center;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 16vw;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
  padding-bottom: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 2vw 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 60%;
}
.row{
  display: flex;
  align-items: flex-end;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  padding: 3vw;
  width: 100%;
  
}

form div{
  display: flex;
  justify-content: space-between;
}

form div button {
  display:block;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
/** Style for more screen width more than 480px */
@media all and (min-width:480px) {
  header {
    display: flex;
    align-items: flex-end;
    align-content: center;
  }
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 0;
  }
  .logo {
   
    margin-right: auto;
    font-size: 3.2vw;
  }
  .nav {
    padding-bottom: -10px;
  }
  
  form{
    flex-direction: row;
  }

  form select,form input {
    margin-bottom: 20px;
    width: 15vw;
  }

  form div {
   display: flex;
   flex-direction: column;
  }
  main img {
    width: 100px;
    padding-bottom: 0px;
  }

  #about-content{
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  #about-content div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about-content img{
    width: 30vw;
  }
  .grid-container{
    display:grid;
    grid-template-columns: auto auto;
    gap: 20px;
    grid-row: auto auto;
  }

  .grid-container img{
    width: 100%;
  }

  section .alternate-background{
    display: flex;
    
  }
  .host-content{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .item-double {
    flex: 2;
    margin: 10px;
  }
  .host-content img{
    width: 100%;
  }
  
}